html,
body {
  height: 100%;
  color: white;
}

body {
  background-image: url(https://images.unsplash.com/photo-1498496294664-d9372eb521f3?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  text-align: center;
  margin-top: 20px;
  background-color: transparent;
}

.jumbotron h1 {
  font-family: 'Indie Flower', cursive;
}

#quote-div {
  font-family: 'Indie Flower', cursive;
  border-radius: 8px;
  font-size: 3em;
  text-align: center;
  /*background-color: rgba(0, 0, 0, 0.4);*/
}

.twitter-share-button {
  color: white;
}
